body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/1de12dfa-1ee7-4374-999a-8a8528504d1f);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}


embed {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
}

button {
  background-color: #080013;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.2em;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 20px;
  margin-right: 10px;
}

button:hover {
  background-color: #000000;
}

.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #000000;
  color: #fff;
  font-size: 1.5em;
  padding: 10px;
  border-radius: 50%;
  border: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.back-to-top:hover {
  background-color: #fcfcfc;
}